@media print {

nav{
  display: none;
}

/* h1{
  display: none;
} */

img{
  display: none;
}

.imageBackground img{
  display: none;
}

.imageBackText{
  display: none;
}

.hideprint{
  display: none;
}

.btncontainer {
  display: none;
}

.revealtext{
  display: none;
}

.recipestory{
  display: none;
}

.cardprint{
  border: 1px solid black;
  padding: 10px;
  width: 576px;
  height: 384px;
}

ul{
  font-size: 10px;
}

ul li{
  line-height: 15px;
}

ol{
  font-size: 10px;
}

ol li{
  line-height: 15px;
}

h3{
  font-size: 11px;
}

.printinfo{
  font-size: 12px;
  display: block;
}
/*these are for hiding the image backgrounds at the top*/
#bread{
  display: none;
}

#scones {
  display: none;
}

#mash{
  display: none;
}

video source{
  display: none;
}

img{
  display: none;
}

button{
  display: none; 
}

}
